@font-face {
  font-family: "Lato";
  src: url("assets/fonts/Lato-Regular.ttf") format("ttf");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Lato-Black";
  src: url("assets/fonts/Lato-Black.ttf") format("ttf");
  font-weight: 900;
  font-display: swap;
}
@font-face {
  font-family: "Lato-Light";
  src: url("assets/fonts/Lato-Light.ttf") format("ttf");
  font-weight: 300;
  font-display: swap;
}
body {
  font-size: 18px;
  line-height: 30px;
  font-family: "Lato", sans-serif;
  min-width: 1020px;
  margin: 0;
  padding: 0;
}
.container {
  width: 1020px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
.visually-hidden,
input [type="checkbox"].visually-hidden,
input [type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.feedback {
  background-color: #f06c64;
  padding-top: 39px;
  padding-bottom: 42px;
  padding-left: 40px;
  padding-right: 40px;
  border-bottom: 6px #ea676b solid;
  color: #f0d8d9;
}

.feedback__title {
  font-size: 30px;
  font-family: "Lato-Black", sans-serif;
  margin-bottom: 21px;
}

.feedback__text {
  font-family: "Lato-Light", sans-serif;
  font-size: 17px;
  margin-bottom: 27px;
}

.feedback__form {
  width: 619px;
  position: relative;
}

.feedback__field {
  margin-top: 15px;
  margin-bottom: 16px;
}

.feedback__form input::-webkit-input-placeholder,
.feedback__form textarea::-webkit-input-placeholder {
  color: #f48c8f;
}
.feedback__form input::-moz-placeholder,
.feedback__form textarea::-moz-placeholder {
  color: #f48c8f;
}
.feedback__form input:-moz-placeholder,
.feedback__form textarea:-moz-placeholder {
  color: #f48c8f;
}
.feedback__form input:-ms-input-placeholder,
.feedback__form textarea:-ms-input-placeholder {
  color: #f48c8f;
}

.feedback__form input[type="text"],
.feedback__form input[type="email"],
.feedback__form textarea {
  border: none;
  border-radius: 5px;
  font-size: 12px;
  line-height: 22px;
  font-family: "Lato", sans-serif;
  color: #f0d8d9;
  box-sizing: border-box;
  border: 2px solid #d6564f;
  padding: 6px;
  padding-left: 12px;
  width: 100%;
  background-color: #d6564f;
}
.feedback__form input[type="text"] {
  margin-right: 40px;
}
.feedback__form textarea {
  padding-top: 5px;
  padding-left: 12px;
  min-height: 202px;
  resize: none;
}

.feedback__form input[type="text"]:hover,
.feedback__form input[type="email"]:hover,
.feedback__form textarea:hover {
  border: 2px solid #f48c8f;
}
.feedback__form input[type="text"]:focus,
.feedback__form input[type="email"]:focus,
.feedback__form textarea:focus {
  border: 2px solid #f0d8d9;
  color: #f0d8d9;
  outline: none;
}

.feedback__form input[type="text"]:required:invalid,
.feedback__form input[type="email"]:invalid {
  border: 2px solid #e2161a;
  color: #e2161a;
}

.feedback__button {
  padding: 9px 23px;
  border: 2px solid #f0d8d9;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
  background-color: transparent;
  font-size: 16px;
  color: #f0d8d9;
  position: absolute;
  left: 640px;
  top: 339px;
}

.feedback__button:hover {
  background-color: #d6564f;
  border-color: #f48c8f;
}

.contacts {
  width: 300px;
}

.contacts__title {
  font-size: 18px;
  font-family: "Lato-Black", sans-serif;
  margin-top: 10px;
  margin-bottom: 0px;
}

.contacts__text {
  font-size: 12px;
  line-height: 22px;
  margin-top: 3px;
  margin-bottom: 20px;
  text-align: justify;
}

.contacts__list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 122px;
  font-size: 12px;
  line-height: 22px;
}

.contacts__item {
  position: relative;
  margin-left: 23px;
}

.contacts__item--link {
  color: inherit;
  text-decoration: none;
}

.contacts__item--link:hover {
  color: #fff;
}

.contacts__item--location::before {
  position: absolute;
  content: "";
  width: 7px;
  height: 11px;
  top: 12px;
  left: -16px;
  margin-left: -4px;
  margin-top: -7px;
  background: url("assets/img/contacts-location.png") no-repeat;
}

.contacts__item--phone::before {
  position: absolute;
  content: "";
  width: 11px;
  height: 11px;
  top: 11px;
  left: -18px;
  margin-left: -4px;
  margin-top: -7px;
  background: url("assets/img/contacts-phone.png") no-repeat;
}

.contacts__item--email::before {
  position: absolute;
  content: "";
  width: 13px;
  height: 8px;
  top: 14px;
  left: -19px;
  margin-left: -4px;
  margin-top: -7px;
  background: url("assets/img/contacts-mail.png") no-repeat;
}

.columns {
  display: flex;
  justify-content: space-between;
}

.footer {
  background-color: #2d303a;
  min-height: 76px;
  padding-left: 40px;
  padding-right: 40px;
  color: #666d89;
  font-size: 11px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer span {
  display: block;
}

.footer__social {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
}

.footer__item {
  margin-left: 8px;
}

.footer__link {
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #666d89;
  cursor: pointer;
}

.footer__link--fb::before {
  position: absolute;
  content: "";
  width: 8px;
  height: 14px;
  top: 50%;
  left: 50%;
  margin-left: -4px;
  margin-top: -7px;
  background: url("assets/img/facebook.png") no-repeat;
}

.footer__link--google::before {
  position: absolute;
  content: "";
  width: 14px;
  height: 14px;
  top: 50%;
  left: 50%;
  margin-left: -7px;
  margin-top: -7px;
  background: url("assets/img/google+.png") no-repeat;
}

.footer__link--twitter::before {
  position: absolute;
  content: "";
  width: 14px;
  height: 12px;
  top: 50%;
  left: 50%;
  margin-left: -7px;
  margin-top: -6px;
  background: url("assets/img/twitter.png") no-repeat;
}

.footer__link--linkedin::before {
  position: absolute;
  content: "";
  width: 14px;
  height: 14px;
  top: 50%;
  left: 50%;
  margin-left: -7px;
  margin-top: -7px;
  background: url("assets/img/linkedin.png") no-repeat;
}

.footer__link:hover {
  background-color: rgb(182, 191, 202);
}
